.container2 {
  display: flex !important;
  flex-direction: column !important;
  width: 200px !important;
  height: 100vh !important;
  background-color: #f8f9fa !important;
  border-bottom-right-radius: 30px !important;
  border-top-right-radius: 30px !important;
  margin: 0 !important;
}

a {
  width: 170px !important;
  text-decoration: none !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 10px !important;
}

a:hover {
  background-color: #5b7d8d !important;
}

.my-name {
  margin-top: 150px !important;
}

ul li:last-child {
  margin-top: 150px !important;
}

@media only screen and (max-width: 600px) {
  .section-name {
    display: none !important;
  }
  .container {
    width: 90px !important;
  }
  a {
    width: 55px !important;
  }
}
