body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100vh;
  background-color: #8bc6ec;
  background-color: #fbab7e;
  background-color: #fbab7e;
  background-image: linear-gradient(
    120deg,
    #fdfbfb 0%,
    #ebedee 100%
  ) !important;
  position: absolute;
}

.instruction {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 450px;
  height: 400px;
}

.LogIn {
  height: 50px;
  width: 200px;
  margin-top: 100px;
  box-shadow: inset 0px 1px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border-radius: 30px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.LogIn:hover {
  background: linear-gradient(to bottom, #2d75bc 5%, #7dabd9 100%);
}
.LogIn:active {
  position: relative;
  top: 5px;
}
