.campaign-info {
  margin-left: 40px;
  margin-right: 30px !important;
  margin-top: 90px;
  height: 540px;
  width: 350px;
  border-radius: 0 10px 27px 10px;
  background-color: #ffffff;
  box-shadow: rgba(46, 224, 240, 0.2) 2px 2px, rgba(46, 98, 240, 0.4) 5px 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.campaign-text {
  height: 470px;
  width: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.campaign-text > h1 {
  margin: 0 0 0 28px;
  padding-top: 20px;
  font-size: 30px;
  color: #474747;
  padding-bottom: 0;
}

.campaign-text > h1,
.campaign-price-btn > p {
  font-family: "Bentham", serif;
}

.campaign-text > p {
  margin-top: 30px !important;
  margin: 0 0 0 28px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: lighter;
  overflow: hidden;
}

.campaign-text > a {
  align-self: center;
  margin: 0 0 0 28px;
  font-family: "Playfair Display", serif;
  color: #7381da;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: lighter;
  overflow: hidden;
}

.campaign-text > a:hover {
  background-color: transparent !important;
  color: #4654af;
}

.campaign-text > span {
  margin-top: 30px !important;
  margin: 0 0 0 28px;
  font-family: "Playfair Display", serif;
  color: black;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: lighter;
  overflow: hidden;
}

.link-btn {
  align-self: center;
  height: 45px;
  width: 80px;
  border-radius: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  justify-content: center;
}

.link-btn:hover {
  background-color: #79b0a1 !important;
  color: #ffffff;
}

.link-btn:active {
  position: relative;
  top: 10px;
}
